USE [master]
GO
/****** Object:  Database [EventosDB7]    Script Date: 28-07-2021 15:22:42 ******/
CREATE DATABASE [EventosDB7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventosDB7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EventosDB7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventosDB7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EventosDB7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventosDB7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventosDB7]
GO
USE [EventosDB7]
GO
/****** Object:  Table [dbo].[Medidor]    Script Date: 28-07-2021 15:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medidor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dirrecion] [varchar](30) NULL,
	[lectura] [varchar](30) NULL,
 CONSTRAINT [PK_Medidor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28-07-2021 15:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rut] [varchar](30) NULL,
	[nombre] [varchar](30) NULL,
	[correo_electronico] [varchar](30) NULL,
	[contraseña] [varchar](30) NULL,
	[deuda] [varchar](30) NULL,
	[id_medidor] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Medidor] FOREIGN KEY([id_medidor])
REFERENCES [dbo].[Medidor] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Medidor]
GO
USE [master]
GO
